---
title: Sampath Sukesh Ravolaparthi
description: Hey I'm Sampath ... xyz
---

<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>{{ page.title }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/base-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-min.css">
    <link rel="stylesheet" href="https://unpkg.com/purecss@2.0.5/build/grids-responsive-min.css">

    <link rel="stylesheet" href="/assets/css/chapter.css">
    <link rel="stylesheet" href="/assets/css/quotation.css">
    <link rel="stylesheet" href="/assets/css/double-spread.css">

    <script src="https://code.jquery.com/jquery-3.6.0.js"
        integrity="sha256-H+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>
    <script src="/assets/js/plugins/chapter.js"></script>
    <script src="/assets/js/plugins.js"></script>

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link
        href="https://fonts.googleapis.com/css2?family=Averia+Serif+Libre:ital,wght@0,300;0,400;0,700;1,300;1,400;1,700&family=Caveat:wght@400;500;600;700&family=Grandstander:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap"
        rel="stylesheet">
    {% seo %}
</head>

<body>
    {% include landing.html %}
    {% include chapter.html chapterName="about" chapterTitle="About" chapterContent="about.html" %}
    {% include chapter.html chapterName="experience" chapterTitle="Experience" chapterContent="experience.html" %}
    {% include chapter.html chapterName="projects" chapterTitle="Projects" chapterContent="projects.html" %}
    {% include contact.html %}
</body>

</html>
