<div class="quotation">
    <div class="quotation__title">
        Who Am I?
    </div>

    <div class="quotation__content">
        <p>
            Hey, I'm Sampath. I'm a Human Male, born in the 90s. I'm someone who can code and is waaaaaaayy into Anime. I need Oxygen to Survive. I like Orange and Black. BTW Did I tell you I'm also into Manga?
        </p>
        <p>
            P.S: Read One-Piece.
        </p>
    </div>
</div>

<div class="quotation">
    <div class="quotation__title">
        What Am I?
    </div>

    <div class="quotation__content">
        <p>
            I’m a software developer with years of experience working with high-scale systems with 3000 to 5000 TPS traffic. I’ve worked on the full product stack in the web-domain from frontend to backend. I’ve worked on, designed & implemented architectures from monolithic to microservices. I’ve worked on making services CI/CD compliant. I was also an avid competitive programmer.
        </p>
    </div>
</div>

<div class="quotation">
    <div class="quotation__title">
        Where Am I?
    </div>

    <div class="quotation__content">
        <p>
            Being Human, I'm on Earth. More specifically I'm in India. I can't be more specific than that on the Internet for obvious reasons. At Work you can find me at StackOverflow and at Home .. Reddit.
        </p>
    </div>
</div>
