<section class="contact double-spread" name="contact">
    <div>
        <h1>Contact</h1>
        <h2>Say Hello at</h2>
        <h2><a href="mailto:hello@sampath.xyz"> hello@sampath.xyz </a></h2>
        <span>
            <a href="https://www.linkedin.com/in/rsampaths16"><img class="svg" src="/assets/svgs/fontawesome/brands/linkedin.svg"></img></a>
            <a href="https://www.reddit.com/user/rsampaths16"><img class="svg" src="/assets/svgs/fontawesome/brands/reddit.svg"></img></a>
            <a href="https://github.com/rsampaths16"><img class="svg" src="/assets/svgs/fontawesome/brands/github.svg"></img></a>
        </span>
    </div>
</section>
