{% for project in site.data.projects %}
<div class="quotation">
    <div class="quotation__title">
        {{ project.name }}
        {% if project.year %}
        <div class="quotation__date">
            {{ project.year }}
        </div>
        {% endif %}
    </div>

    <div class="quotation__content">
        <p>{{ project.description }}</p>
        {%- assign technologies = project.technologies | sanelist -%}
        {%- if technologies.size == 1 -%}
            Technology:&nbsp;
        {%- elsif technologies.size > 1 -%}
            Technologies:&nbsp;
        {%- endif -%}
        {%- for element in technologies -%}
            {%- case element.type -%}
                {%- when "item" -%}
                    {{- element.data -}}
                {%- when "delimiter" -%}
                    {%- if element.isLast -%}
                        &nbsp;and&nbsp;
                    {%- else -%}
                        ,&nbsp;
                    {%- endif -%}
            {%- endcase -%}
        {%- endfor -%}
    </div>
</div>
{% endfor %}
