<div class="quotation">
    <div class="quotation__title">
        Languages
    </div>
    <div class="quotation__content">
        {%- assign languages = site.data.technical_skills.languages | sanelist -%}
        {%- if languages.size > 0 -%}
            <ul>
            {%- for element in languages -%}
                {%- case element.type -%}
                    {%- when "item" -%}
                        <li>{{- element.data -}}</li>
                    {%- when "delimiter" -%}
                        {%- if element.isLast %} and {% else %} {% endif -%}
                {%- endcase -%}
            {%- endfor %}
            </ul>
        {%- endif -%}
    </div>
</div>

<div class="quotation">
    <div class="quotation__title">
        Libraries
    </div>
    <div class="quotation__content">
        {%- assign libraries = site.data.technical_skills.libraries | sanelist -%}
        {%- if libraries.size > 0 -%}
            <ul>
            {%- for element in libraries -%}
                {%- case element.type -%}
                    {%- when "item" -%}
                        <li>{{- element.data -}}</li>
                    {%- when "delimiter" -%}
                        {%- if element.isLast %} and {% else %} {% endif -%}
                {%- endcase -%}
            {%- endfor %}
            </ul>
        {%- endif -%}
    </div>
</div>

<div class="quotation">
    <div class="quotation__title">
        Technologies
    </div>
    <div class="quotation__content">
        {%- assign technologies = site.data.technical_skills.technologies | sanelist -%}
        {%- if technologies.size > 0 -%}
            <ul>
            {%- for element in technologies -%}
                {%- case element.type -%}
                    {%- when "item" -%}
                        <li>{{- element.data -}}</li>
                    {%- when "delimiter" -%}
                        {%- if element.isLast %} and {% else %} {% endif -%}
                {%- endcase -%}
            {%- endfor %}
            </ul>
        {%- endif -%}
    </div>
</div>
