<div class="quotation">
    <div class="quotation__title">
        Languages
    </div>
    <div class="quotation__content">
        {{ site.data.technical_skills.languages | unordered_html_list_joined_with_and }}
    </div>
</div>

<div class="quotation">
    <div class="quotation__title">
        Libraries
    </div>
    <div class="quotation__content">
        {{ site.data.technical_skills.libraries | unordered_html_list_joined_with_and }}
    </div>
</div>

<div class="quotation">
    <div class="quotation__title">
        Technologies
    </div>
    <div class="quotation__content">
        {{ site.data.technical_skills.technologies | unordered_html_list_joined_with_and }}
    </div>
</div>
